/.metadata/
/Tuan9/HocTrenLop/ViDu/target/
/Tuan9/ViDu/mavenproject2/target/
/On Tap KTra + BTL/Bai2JavaGUI/nbproject/private/
/On Tap KTra + BTLg/GUI/nbproject/private/
/On Tap KTra + BTL/GUI/nbproject/private/
/On Tap KTra + BTL/Cau1/nbproject/private/
/On Tap KTra + BTL/Cau1/Cau1/nbproject/private/
/On Tap KTra + BTL/Cau1_DeSang6/Cau1/nbproject/private/
/On Tap KTra + BTL/Cau1_DeSang6/Cau1_Sang6/nbproject/private/
/On Tap KTra + BTL/Cau1_DeSang6/Cau1_Sang6/Cau1_Sang6/nbproject/private/
/On Tap KTra + BTL/Cau1/Cau1/build/
/On Tap KTra + BTL/Cau2/Cau2/nbproject/private/
/On Tap KTra + BTL/Cau2/Cau2/build/
/On Tap KTra + BTL/Cau2/Cau2/dist/
